share/sgml/gallery.dtd

<!-- DTD for commercial gallery entries on the FreeBSD website. -->
<!-- $FreeBSD: www/share/sgml/gallery.dtd,v 1.1 2006/08/19 21:20:53 hrs Exp $ -->

<!ENTITY % xml.features "INCLUDE">
<!ENTITY % sgml.features "IGNORE">

<!ELEMENT entries (cvs:keywords?, categories?, entry+)>

<!ELEMENT categories (category)+>
<!ATTLIST categories
  id		ID	#IMPLIED
>

<!ELEMENT category (#PCDATA)>
<!ATTLIST category
  id		ID	#IMPLIED
>

<!ELEMENT entry (name, url?, description)>
<!ATTLIST entry
  id		CDATA	#REQUIRED
  category	CDATA	#IMPLIED
>

<!ELEMENT name (#PCDATA)>
<!ELEMENT url (#PCDATA)>
<!ELEMENT description (#PCDATA|a|b|br|i|tt|em|p|strong|img|ul)*>

<!-- misc HTML tags -->
<!ELEMENT a (#PCDATA|img)*>
<!ATTLIST a href CDATA #REQUIRED>

<!ELEMENT b (#PCDATA|a)*>
<!ELEMENT br (#PCDATA|a)*>
<!ELEMENT i (#PCDATA|a)*>
<!ELEMENT tt (#PCDATA|a)*>
<!ELEMENT em (#PCDATA|a)*>
<!ELEMENT p (#PCDATA|a)*>
<!ELEMENT strong (#PCDATA|a)*>
<!ELEMENT ul (li)*>
<!ELEMENT li (#PCDATA|a)*>
<!ELEMENT img (#PCDATA|a)*>
<!ATTLIST img alt CDATA #IMPLIED>
<!ATTLIST img src CDATA #REQUIRED>

<!-- common cvs tags -->
<!ELEMENT cvs:keywords (cvs:keyword+)>
<!ATTLIST cvs:keywords xmlns:cvs CDATA #FIXED 'http://www.FreeBSD.org/XML/CVS'>
<!ATTLIST cvs:keywords version CDATA #FIXED '1.0'>

<!ELEMENT cvs:keyword (#PCDATA)>
<!ATTLIST cvs:keyword name CDATA #REQUIRED>

<!ENTITY % autogen.ent
 PUBLIC "-//FreeBSD//ENTITIES FreeBSD Automatically Generated Entities//EN"
        "http://www.FreeBSD.org/XML/cwd/autogen.ent">
%autogen.ent;

<!ENTITY % iso8879.ent
 PUBLIC "-//FreeBSD//ENTITIES ISO 8879:1986 Entity Set//EN//XML"
        "http://www.FreeBSD.org/XML/www/share/sgml/iso8879.ent">
%iso8879.ent;

<!ENTITY % l10n.ent
 PUBLIC "-//FreeBSD//ENTITIES FreeBSD L10N Entities//EN"
        "http://www.FreeBSD.org/XML/www/share/sgml/l10n.ent">
%l10n.ent;

<!ENTITY % common.ent
 PUBLIC "-//FreeBSD//ENTITIES FreeBSD Common Entities//EN"
        "http://www.FreeBSD.org/XML/www/share/sgml/common.ent">
%common.ent;
