share/sgml/news.dtd

<!-- $FreeBSD: www/share/sgml/news.dtd,v 1.1 2006/08/19 21:20:54 hrs Exp $ -->

<!ENTITY % xml.features "INCLUDE">
<!ENTITY % sgml.features "IGNORE">

<!ELEMENT news (cvs:keywords?, year)+>

<!ELEMENT cvs:keywords (cvs:keyword+)>
<!ATTLIST cvs:keywords xmlns:cvs CDATA #FIXED 'http://www.FreeBSD.org/XML/CVS'>
<!ATTLIST cvs:keywords version CDATA #FIXED '1.0'>

<!ELEMENT cvs:keyword (#PCDATA)>
<!ATTLIST cvs:keyword name CDATA #REQUIRED>

<!ELEMENT name (#PCDATA)>
<!ATTLIST name
  id		ID	#IMPLIED
>

<!ELEMENT year (name, (month)+)>
<!ATTLIST year
  id		ID	#IMPLIED
>

<!ELEMENT month (name, (day)+)>
<!ATTLIST month
  id		ID	#IMPLIED
>

<!ELEMENT day (name, (event)+)>
<!ATTLIST day
  id		ID	#IMPLIED
>

<!ELEMENT event ((title)?, (p)+)>
<!ATTLIST event
  id		ID	#IMPLIED
>

<!ELEMENT title (#PCDATA | a)*>
<!ATTLIST title
  id		ID	#IMPLIED
>

<!ELEMENT p (#PCDATA | a | i)*>
<!ATTLIST p
  id		ID	#IMPLIED
>

<!ELEMENT a (#PCDATA)>
<!ATTLIST a
  id		ID	#IMPLIED
  href		CDATA	#REQUIRED
>

<!ELEMENT i (#PCDATA)>
<!ATTLIST i
  id		ID	#IMPLIED
>

<!ENTITY % autogen.ent
 PUBLIC "-//FreeBSD//ENTITIES FreeBSD Automatically Generated Entities//EN"
        "http://www.FreeBSD.org/XML/cwd/autogen.ent">
%autogen.ent;

<!ENTITY % iso8879.ent
 PUBLIC "-//FreeBSD//ENTITIES ISO 8879:1986 Entity Set//EN//XML"
        "http://www.FreeBSD.org/XML/www/share/sgml/iso8879.ent">
%iso8879.ent;

<!ENTITY % l10n.ent
 PUBLIC "-//FreeBSD//ENTITIES FreeBSD L10N Entities//EN"
        "http://www.FreeBSD.org/XML/www/lang/share/sgml/l10n.ent">
%l10n.ent;

<!ENTITY % l10n-common.ent
 PUBLIC "-//FreeBSD//ENTITIES FreeBSD L10N Common Entities//EN"
        "http://www.FreeBSD.org/XML/www/share/sgml/l10n.ent">
%l10n-common.ent;

<!ENTITY % common.ent
 PUBLIC "-//FreeBSD//ENTITIES FreeBSD Common Entities//EN"
        "common.ent">
%common.ent;
