share/sgml/press.dtd

<!-- $FreeBSD$ -->

<!ELEMENT press (cvs:keyword?, year)+>

<!ELEMENT year (name, (month)+)>
<!ATTLIST year
  id		ID	#IMPLIED
>

<!ELEMENT month (name, (story)+)>
<!ATTLIST month
  id		ID	#IMPLIED
>

<!ELEMENT story (name, url, site-name, site-url, date, author, (p)+)>
<!ATTLIST storyevent
  id		ID	#IMPLIED
>

<!ELEMENT name (#PCDATA)>
<!ATTLIST name
  id		ID	#IMPLIED
>
<!ELEMENT url (#PCDATA)>
<!ATTLIST url
  id		ID	#IMPLIED
>
<!ELEMENT site-name (#PCDATA)>
<!ATTLIST site-name
  id		ID	#IMPLIED
>
<!ELEMENT site-url (#PCDATA)>
<!ATTLIST site-url
  id		ID	#IMPLIED
>
<!ELEMENT date (#PCDATA)>
<!ATTLIST date
  id		ID	#IMPLIED
>
<!ELEMENT author (#PCDATA)>
<!ATTLIST author
  id		ID	#IMPLIED
>

<!ELEMENT p (#PCDATA | a | tt)*>
<!ATTLIST p
  id		ID	#IMPLIED
>

<!ELEMENT tt (#PCDATA)>
<!ATTLIST tt
  id		ID	#IMPLIED
>

<!ELEMENT a (#PCDATA)>
<!ATTLIST a
  id		ID	#IMPLIED
  href		CDATA	#REQUIRED
>

<!ENTITY % cvs
 PUBLIC "-//FreeBSD//DTD FreeBSD CVS Keywords//EN"
	"http://www.FreeBSD.org/XML/doc/share/sgml/cvs.dtd">
%cvs;

<!ENTITY % autogen.ent
 PUBLIC "-//FreeBSD//ENTITIES FreeBSD Automatically Generated Entities//EN"
        "http://www.FreeBSD.org/XML/cwd/autogen.ent">
%autogen.ent;

<!ENTITY % iso8879.ent
 PUBLIC "-//FreeBSD//ENTITIES ISO 8879:1986 Entity Set//EN//XML"
        "http://www.FreeBSD.org/XML/www/share/sgml/iso8879.ent">
%iso8879.ent;

<!ENTITY % l10n.ent
 PUBLIC "-//FreeBSD//ENTITIES FreeBSD L10N Entities//EN"
        "http://www.FreeBSD.org/XML/www/lang/share/sgml/l10n.ent">
%l10n.ent;

<!ENTITY % l10n-common.ent
 PUBLIC "-//FreeBSD//ENTITIES FreeBSD L10N Common Entities//EN"
        "http://www.FreeBSD.org/XML/www/share/sgml/l10n.ent">
%l10n-common.ent;

<!ENTITY % common.ent
 PUBLIC "-//FreeBSD//ENTITIES FreeBSD Common Entities//EN"
        "common.ent">
%common.ent;
