share/xml/gallery.dtd

<!-- DTD for commercial gallery entries on the FreeBSD website. -->
<!-- $FreeBSD$ -->

<!ELEMENT entries (cvs:keyword?, categories?, entry+)>

<!ELEMENT categories (category)+>
<!ATTLIST categories
  id		ID	#IMPLIED
>

<!ELEMENT category (#PCDATA)>
<!ATTLIST category
  id		ID	#IMPLIED
>

<!ELEMENT entry (name, url?, description)>
<!ATTLIST entry
  id		CDATA	#REQUIRED
  category	CDATA	#IMPLIED
>

<!ELEMENT name (#PCDATA)>
<!ELEMENT url (#PCDATA)>

<!--
     Allow full HTML cotent in description.
-->
<!ENTITY % html.orig PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
%html.orig;

<!ELEMENT description %Flow;>

<!ENTITY % cvs
 PUBLIC "-//FreeBSD//DTD FreeBSD CVS Keywords//EN"
	"http://www.FreeBSD.org/XML/share/xml/cvs.dtd">
%cvs;

<!ENTITY % autogen.ent
 PUBLIC "-//FreeBSD//ENTITIES FreeBSD Automatically Generated Entities//EN"
        "http://www.FreeBSD.org/XML/cwd/autogen.ent">
%autogen.ent;

<!ENTITY % iso8879.ent
 PUBLIC "-//FreeBSD//ENTITIES ISO 8879:1986 Entity Set//EN//XML"
        "http://www.FreeBSD.org/XML/share/xml/iso8879.ent">
%iso8879.ent;

<!ENTITY % l10n.ent
 PUBLIC "-//FreeBSD//ENTITIES FreeBSD Language Specific Entities//EN"
        "http://www.FreeBSD.org/XML/lang/share/xml/l10n.ent">
%l10n.ent;

<!ENTITY % l10n-common.ent
 PUBLIC "-//FreeBSD//ENTITIES FreeBSD Language Specific Common Entities//EN"
        "http://www.FreeBSD.org/XML/share/xml/l10n-common.ent">
%l10n-common.ent;

<!ENTITY % common.ent
 PUBLIC "-//FreeBSD//ENTITIES FreeBSD Common Entities//EN"
        "http://www.FreeBSD.org/XML/share/xml/common.ent">
%common.ent;
