share/xml/ideas.dtd

<!-- $FreeBSD$ -->

<!ELEMENT ideas (cvs:keyword?, category)+>

<!ELEMENT title (#PCDATA)>
<!ATTLIST title
  id		ID	#IMPLIED
>

<!ELEMENT category (title, (idea)+)>
<!ATTLIST category
  id		ID	#IMPLIED
>

<!ELEMENT idea (title, desc)>
<!ATTLIST idea
  id		ID	#IMPLIED
>

<!ELEMENT desc (#PCDATA)>
<!ATTLIST desc
  id		ID	#IMPLIED
>

<!ENTITY % cvs
 PUBLIC "-//FreeBSD//DTD FreeBSD CVS Keywords//EN"
	"http://www.FreeBSD.org/XML/share/xml/cvs.dtd">
%cvs;

<!ENTITY % autogen.ent
 PUBLIC "-//FreeBSD//ENTITIES FreeBSD Automatically Generated Entities//EN"
        "http://www.FreeBSD.org/XML/cwd/autogen.ent">
%autogen.ent;

<!ENTITY % iso8879.ent
 PUBLIC "-//FreeBSD//ENTITIES ISO 8879:1986 Entity Set//EN//XML"
        "http://www.FreeBSD.org/XML/share/xml/iso8879.ent">
%iso8879.ent;

<!ENTITY % l10n.ent
 PUBLIC "-//FreeBSD//ENTITIES FreeBSD Language Specific Entities//EN"
        "http://www.FreeBSD.org/XML/lang/share/xml/l10n.ent">
%l10n.ent;
 
<!ENTITY % l10n-common.ent
 PUBLIC "-//FreeBSD//ENTITIES FreeBSD Language Specific Common Entities//EN"
        "http://www.FreeBSD.org/XML/share/xml/l10n-common.ent">
%l10n-common.ent;

<!ENTITY % common.ent
 PUBLIC "-//FreeBSD//ENTITIES FreeBSD Common Entities//EN"
        "common.ent">
%common.ent;
