share/xml/multimedia.dtd

<!-- $FreeBSD$ -->

<!ELEMENT multimedia (items, sources)>

<!ELEMENT items (item*)>
<!ELEMENT item (title, overview, desc, tags)>
<!ELEMENT overview (#PCDATA)>
<!ELEMENT tags (tag)+>
<!ELEMENT tag (#PCDATA)>

<!ATTLIST item
	source IDREF #REQUIRED
	added CDATA #REQUIRED>

<!ELEMENT sources (source*)>
<!ELEMENT source (name, url)>
<!ELEMENT name (#PCDATA)>
<!ELEMENT url (#PCDATA)>

<!ATTLIST source
	id ID #REQUIRED>

<!ENTITY % html.orig PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
%html.orig;

<!ELEMENT desc %Flow;>

<!ENTITY % autogen.ent
 PUBLIC "-//FreeBSD//ENTITIES FreeBSD Automatically Generated Entities//EN"
        "http://www.FreeBSD.org/XML/cwd/autogen.ent">
%autogen.ent;

<!ENTITY % iso8879.ent
 PUBLIC "-//FreeBSD//ENTITIES ISO 8879:1986 Entity Set//EN//XML"
        "http://www.FreeBSD.org/XML/share/xml/iso8879.ent">
%iso8879.ent;

<!ENTITY % l10n.ent
 PUBLIC "-//FreeBSD//ENTITIES FreeBSD Language Specific Entities//EN"
        "http://www.FreeBSD.org/XML/lang/share/xml/l10n.ent">
%l10n.ent;
 
<!ENTITY % l10n-common.ent
 PUBLIC "-//FreeBSD//ENTITIES FreeBSD Language Specific Common Entities//EN"
        "http://www.FreeBSD.org/XML/share/xml/l10n-common.ent">
%l10n-common.ent;

<!ENTITY % release.ent
 PUBLIC "-//FreeBSD//ENTITIES FreeBSD Release Entities//EN"
        "http://www.FreeBSD.org/XML/share/xml/release.ent">
%release.ent;

<!ENTITY % common.ent
 PUBLIC "-//FreeBSD//ENTITIES FreeBSD Common Entities//EN"
        "common.ent">
%common.ent;
