share/xml/news.dtd

<!-- $FreeBSD$ -->

<!ENTITY lists 'https://lists.freebsd.org/pipermail'>
<!ENTITY lists.announce '&lists;/freebsd-announce'>
<!ENTITY lists.current '&lists;/freebsd-current'>
<!ENTITY lists.stable '&lists;/freebsd-stable'>
<!ENTITY lists.ports-announce '&lists;/freebsd-ports-announce'>
<!ENTITY lists.pkg '&lists;/freebsd-pkg'>

<!ELEMENT news (cvs:keyword?, year)+>

<!ELEMENT name (#PCDATA)>
<!ATTLIST name
  id		ID	#IMPLIED
>

<!ELEMENT year (name, (month)+)>
<!ATTLIST year
  id		ID	#IMPLIED
>

<!ELEMENT month (name, (day)+)>
<!ATTLIST month
  id		ID	#IMPLIED
>

<!ELEMENT day (name, (event)+)>
<!ATTLIST day
  id		ID	#IMPLIED
>

<!ELEMENT event ((title)?, (p)+)>
<!ATTLIST event
  id		ID	#IMPLIED
>

<!ELEMENT title (#PCDATA | a)*>
<!ATTLIST title
  id		ID	#IMPLIED
>

<!ELEMENT p (#PCDATA | a | i)*>
<!ATTLIST p
  id		ID	#IMPLIED
>

<!ELEMENT a (#PCDATA)>
<!ATTLIST a
  id		ID	#IMPLIED
  href		CDATA	#REQUIRED
>

<!ELEMENT i (#PCDATA)>
<!ATTLIST i
  id		ID	#IMPLIED
>

<!ENTITY % cvs
 PUBLIC "-//FreeBSD//DTD FreeBSD CVS Keywords//EN"
	"http://www.FreeBSD.org/XML/share/xml/cvs.dtd">
%cvs;

<!ENTITY % autogen.ent
 PUBLIC "-//FreeBSD//ENTITIES FreeBSD Automatically Generated Entities//EN"
        "http://www.FreeBSD.org/XML/cwd/autogen.ent">
%autogen.ent;

<!ENTITY % iso8879.ent
 PUBLIC "-//FreeBSD//ENTITIES ISO 8879:1986 Entity Set//EN//XML"
        "http://www.FreeBSD.org/XML/share/xml/iso8879.ent">
%iso8879.ent;

<!ENTITY % l10n.ent
 PUBLIC "-//FreeBSD//ENTITIES FreeBSD Language Specific Entities//EN"
        "http://www.FreeBSD.org/XML/lang/share/xml/l10n.ent">
%l10n.ent;
 
<!ENTITY % l10n-common.ent
 PUBLIC "-//FreeBSD//ENTITIES FreeBSD Language Specific Common Entities//EN"
        "http://www.FreeBSD.org/XML/share/xml/l10n-common.ent">
%l10n-common.ent;

<!ENTITY % common.ent
 PUBLIC "-//FreeBSD//ENTITIES FreeBSD Common Entities//EN"
        "common.ent">
%common.ent;
