share/xml/press.dtd

<!-- $FreeBSD$ -->

<!ELEMENT press (cvs:keyword?, year)+>

<!ELEMENT year (name, (month)+)>
<!ATTLIST year
  id		ID	#IMPLIED
>

<!ELEMENT month (name, (story)+)>
<!ATTLIST month
  id		ID	#IMPLIED
>

<!ENTITY % html.orig PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
%html.orig;

<!ELEMENT story (name, url, site-name, site-url, date, author, (p)+)>
<!ATTLIST storyevent
  id		ID	#IMPLIED
>

<!ELEMENT name (#PCDATA)>
<!ATTLIST name
  id		ID	#IMPLIED
>
<!ELEMENT url (#PCDATA)>
<!ATTLIST url
  id		ID	#IMPLIED
>
<!ELEMENT site-name (#PCDATA)>
<!ATTLIST site-name
  id		ID	#IMPLIED
>
<!ELEMENT site-url (#PCDATA)>
<!ATTLIST site-url
  id		ID	#IMPLIED
>
<!ELEMENT date (#PCDATA)>
<!ATTLIST date
  id		ID	#IMPLIED
>
<!ELEMENT author (#PCDATA)>
<!ATTLIST author
  id		ID	#IMPLIED
>

<!ENTITY % cvs
 PUBLIC "-//FreeBSD//DTD FreeBSD CVS Keywords//EN"
	"http://www.FreeBSD.org/XML/share/xml/cvs.dtd">
%cvs;

<!ENTITY % autogen.ent
 PUBLIC "-//FreeBSD//ENTITIES FreeBSD Automatically Generated Entities//EN"
        "http://www.FreeBSD.org/XML/cwd/autogen.ent">
%autogen.ent;

<!ENTITY % iso8879.ent
 PUBLIC "-//FreeBSD//ENTITIES ISO 8879:1986 Entity Set//EN//XML"
        "http://www.FreeBSD.org/XML/share/xml/iso8879.ent">
%iso8879.ent;

<!ENTITY % l10n.ent
 PUBLIC "-//FreeBSD//ENTITIES FreeBSD Language Specific Entities//EN"
        "http://www.FreeBSD.org/XML/lang/share/xml/l10n.ent">
%l10n.ent;
 
<!ENTITY % l10n-common.ent
 PUBLIC "-//FreeBSD//ENTITIES FreeBSD Language Specific Common Entities//EN"
        "http://www.FreeBSD.org/XML/share/xml/l10n-common.ent">
%l10n-common.ent;

<!ENTITY % common.ent
 PUBLIC "-//FreeBSD//ENTITIES FreeBSD Common Entities//EN"
        "common.ent">
%common.ent;
