share/xml/sitemap.dtd

<!-- $FreeBSD$ -->

<!ELEMENT sitemap (cvs:keyword?, term*, category*)>
<!ELEMENT term (text, destination)>

<!ELEMENT category (item*)>
<!ATTLIST category name CDATA #REQUIRED>

<!ELEMENT item (text, destination)>

<!ELEMENT text (#PCDATA)>
<!ELEMENT destination (#PCDATA)>

<!ENTITY % cvs
 PUBLIC "-//FreeBSD//DTD FreeBSD CVS Keywords//EN"
	"http://www.FreeBSD.org/XML/share/xml/cvs.dtd">
%cvs;

<!ENTITY % autogen.ent
 PUBLIC "-//FreeBSD//ENTITIES FreeBSD Automatically Generated Entities//EN"
        "http://www.FreeBSD.org/XML/cwd/autogen.ent">
%autogen.ent;

<!ENTITY % iso8879.ent
 PUBLIC "-//FreeBSD//ENTITIES ISO 8879:1986 Entity Set//EN//XML"
        "http://www.FreeBSD.org/XML/share/xml/iso8879.ent">
%iso8879.ent;

<!ENTITY % l10n.ent
 PUBLIC "-//FreeBSD//ENTITIES FreeBSD Language Specific Entities//EN"
        "http://www.FreeBSD.org/XML/lang/share/xml/l10n.ent">
%l10n.ent;
 
<!ENTITY % l10n-common.ent
 PUBLIC "-//FreeBSD//ENTITIES FreeBSD Language Specific Common Entities//EN"
        "http://www.FreeBSD.org/XML/share/xml/l10n-common.ent">
%l10n-common.ent;

<!ENTITY % release.ent
 PUBLIC "-//FreeBSD//ENTITIES FreeBSD Release Entities//EN"
        "http://www.FreeBSD.org/XML/share/xml/release.ent">
%release.ent;

<!ENTITY % common.ent
 PUBLIC "-//FreeBSD//ENTITIES FreeBSD Common Entities//EN"
        "common.ent">
%common.ent;
